body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: #2c3135;
}

.header-main {
    padding-top: 200px;
    font-size: 16px;
    margin: 5px
}
