body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    background-color: #2c3135;
}

.popup {
    width: 600px;
    background-color: #2c3135;
    border-radius: 6px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    padding: 0 30px 30px;
    transition: transform 0.4s, top 0.4s;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.instruction-text {
    text-align: left;
    margin: 4px;
}

.close-popup {
    visibility: hidden;
    top: 0;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
}

.hide-objects {
    visibility: hidden;
    top: 0;
    transform: translate(-50%, -50%) scale(0.1);
}

.guitar-neck {
    width: 110px;
    position:relative;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #47ca7c;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 199px;
    left: 69px;
  }

.answer-submit {
    padding: 20px;
}

input {
    font-size:15px; 
    background-color:#2c3135;
    color:white;
    padding: 8px;
    border-radius:35px;
    border:2px solid #47ca7c;
}

button {
    font-size:15px; 
    background-color:#2c3135; 
    color:white;
    padding: 18px;
    border-radius:35px;
    border:2px solid #47ca7c;
    text-decoration: none;
}

button:hover {
    background:#47ca7c;
    color:#2c3135
}

#scoreboard {
    font-size: 25px;
    margin-top: 40px;
}

#score_line_1 {
    font-size: 15px;
    margin: 2px;
}

#message {
    color: #2c3135;
}

#play-button {
    margin-top: 20px;
}

.header-main {
    padding-top: 200px;
    font-size: 16px;
    margin: 5px
}

.play-notes {
    width: 800px;
    margin: auto;
    padding-top: 180px;
    display: grid;
    grid-template-columns: 150px 67px 150px 67px 150px 67px 150px;
    grid-template-rows: 30px 100px;
}

.root-label {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.third-label {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.fifth-label {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.triad-label {
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

#root {
    margin: auto;
    width: 100px;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;   
}

#third {
    margin: auto;
    width: 100px;
    height: 60px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;   
}

#fifth {
    margin: auto;
    width: 100px;
    height: 60px;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;   
}

#triad {
    margin: auto;
    width: 100px;
    height: 60px;
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;   
}

.answer-buttons {
    width: 350px;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 175px 175px;
    grid-template-rows: 70px 70px 100px;
}

#major {
    margin: auto;
    width: 150px;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;   
    padding-top: 20px;
}

#minor {
    margin: auto;
    width: 150px;
    height: 60px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding-top: 20px;  
}

#aug {
    margin: auto;
    width: 150px;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; 
    padding-top: 20px;  
}

#dim {
    margin: auto;
    width: 150px;
    height: 60px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2; 
    padding-top: 20px;  
}

